<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">

  <script src="libs/jquery/dist/jquery.js"></script>
  <script src="libs/plupload/js/plupload.full.min.js"></script>
  <script src="libs/qiniu/dist/qiniu.min.js"></script>
  <script src="libs/moment/min/moment.min.js"></script>
  <script src="libs/angular/angular.js"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="libs/angular-aria/angular-aria.min.js"></script>
  <script src="libs/angular-messages/angular-messages.min.js"></script>
  <script src="libs/angular-animate/angular-animate.js"></script>
  <script src="libs/angular-material/angular-material.min.js"></script>

  <link rel="stylesheet" href="/libs/textAngular/dist/textAngular.css">
  <script src="libs/textAngular/dist/textAngular-rangy.min.js"></script>
  <script src="libs/textAngular/dist/textAngular-sanitize.min.js"></script>
  <script src="libs/textAngular/dist/textAngular.min.js"></script>


  <!--excel start-->
  <script lang="javascript" src="libs/js-xlsx/shim.js"></script>
  <script lang="javascript" src="libs/js-xlsx/jszip.js"></script>
  <script lang="javascript" src="libs/js-xlsx/xlsx.js"></script>
  <script lang="javascript" src="libs/js-xlsx/ods.js"></script>
  <script lang="javascript" src="c_libs/js-xlsx/Blob.js"></script>
  <script lang="javascript" src="c_libs/js-xlsx/FileSaver.js"></script>
  <script lang="javascript" src="c_libs/js-xlsx/Export2Excel.js"></script>
  <!--excel end-->


  <script src="c_backend/site_admin/dist/js/chaoqian.js"></script>
  <link rel="stylesheet" href="/c_backend/site_admin/dist/css/chaoqian.client.style.css">
</head>

<body ng-controller="IndexController" ng-app="chaoQianSite">
  <md-toolbar class="c-tool-bar md-hue-2" md-scroll-shrink="true">
    <div class="md-toolbar-tools">
      <md-truncate>卖菜帮 后台管理</md-truncate>
      <md-button ng-click="toggleLeft()" class="md-primary">
        菜单
      </md-button>
    </div>
    </section>
  </md-toolbar>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="3">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">卖菜帮 后台管理</h1>
      </md-toolbar>
      <md-content>

      </md-content>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('market_supply_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>行情-供应商</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('market_purchases_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>行情-采购商</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('market_day_info_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>行情-每日价格</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('purchases_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>采购列表</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('supply_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>供应列表</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('user_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>用户列表</p>
        </div>
      </md-list-item>
      <md-list-item class="md-primary md-3-line" ng-click="goNav('auth_list')">
        <div class="md-list-item-text md-primary" layout="column">
          <p>用户认证列表</p>
        </div>
      </md-list-item>
      <div id="qiniu-upload-test-container" style="visibility:hidden;">
        <input type="file" />
      </div>
    </md-sidenav>
  </section>
  <ui-view class="page-ui-view">

  </ui-view>
  <dialog-loading-box></dialog-loading-box>

</body>

</html>