<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">广告详情</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" id="qiniu-upload-test-button">上传图片</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.save_photos()">保存图片</md-button>
    </div>
  </div>
  <div layout="row" layout-align="start start">
    <div class="left" flex="">
      <div class="list-header">
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 广告名称</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.name}}</div>
        </div>
      </div>
    </div>
    <div class="right" flex="">
      <div ng-repeat="photo in pageConfig.detail.photos" style="position:relative;float:left;margin:20px;">
        <img style=" width:200px;height:200px;" class="photo" ng-src="{{photo}}" />
        <div ng-click="pageConfig.delete_photo(photo)" style="position:absolute;left:0px;height:30px;line-height:30px;width:100%;bottom:0px;background-color:red;color:white;text-align:center;">删除</div>
      </div>
    </div>
  </div>
</div>