<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">{{pageConfig.title}}(总数：{{pageConfig.count}})</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.download_template()">下载模版</md-button>
      <md-button class="md-primary md-raised md-hue-2 import">{{pageConfig.import_text}}
        <input type="file" onchange="angular.element(this).scope().pageConfig.get_excel(this)">
      </md-button>
    </div>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">序号</div>
      <div class="column-item" flex="">采购商所在省</div>
      <div class="column-item" flex="">采购商所在城市</div>

      <div class="column-item" flex="">采购商所在市场</div>
      <div class="column-item" flex="">商户名称</div>
      <div class="column-item" flex="">主营品类</div>
      <div class="column-item" flex="">身份</div>
      <div class="column-item" flex="">联系电话</div>
      <div class="column-item" flex="">每日销量</div>
      <div class="column-item" flex="">操作</div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" item in pageConfig.list">
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item._id}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.province}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.city}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.market}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.name}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.main_goods}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.identity}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.phone}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        {{item.day_sales}}
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="pageConfig.market_update_status('delete',item._id)">删除
        </md-button>
      </div>

    </div>
    <div class="list-item" layout="row" layout-align="start center">
      <md-button class="md-primary" ng-click="pageConfig.get_list('prev')">上一页
      </md-button>
      <md-button class="md-primary">
        {{pageConfig.current_page}}
      </md-button>
      <md-button class="md-primary" ng-click="pageConfig.get_list('next')">下一页
      </md-button>
    </div>
  </div>
</div>