<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">{{pageConfig.title}}(总数：{{pageConfig.count}})</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.download_template()">下载模版</md-button>
      <md-button class="md-primary md-raised md-hue-2 import">{{pageConfig.import_text}}
        <input type="file" onchange="angular.element(this).scope().pageConfig.get_excel(this)">
      </md-button>
    </div>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">采购货品类型</div>
      <div class="column-item" flex="">采购货品品类</div>
      <div class="column-item" flex="">采购货品品种</div>
      <div class="column-item" flex="">规格</div>
      <div class="column-item" flex="">需求量</div>
      <div class="column-item" flex="">需求量单位</div>
      <div class="column-item" flex="">期望价格</div>
      <div class="column-item" flex="">期望价格单位</div>
      <div class="column-item" flex="">期望货源省</div>
      <div class="column-item" flex="">期望货源市</div>
      <div class="column-item" flex="">补充说明</div>
      <div class="column-item" flex="">采购频率</div>
      <div class="column-item" flex="">采购时长</div>
      <div class="column-item" flex="">收货地址省</div>
      <div class="column-item" flex="">收货地址市</div>
      <div class="column-item" flex="">电话</div>
      <div class="column-item" flex="">角色</div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" item in pageConfig.list">
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_class}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_category}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_brand}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_specs}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.need_number}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.need_unit}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.expect_price}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.expect_price_unit}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.expect_province}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.expect_city}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.market}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.frequency}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.duration}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.receive_province}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.receive_city}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.mobile_phone}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.role}}</div>
    </div>
    <div class="list-item" layout="row" layout-align="start center">
      <md-button class="md-primary" ng-click="pageConfig.get_list('prev')">上一页
      </md-button>
      <md-button class="md-primary">
        {{pageConfig.current_page}}
      </md-button>
      <md-button class="md-primary" ng-click="pageConfig.get_list('next')">下一页
      </md-button>
    </div>
  </div>
</div>