<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">{{pageConfig.title}}(总数：{{pageConfig.count}})</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.download_template()">下载模版</md-button>
      <md-button class="md-primary md-raised md-hue-2 import">{{pageConfig.import_text}}
        <input type="file" onchange="angular.element(this).scope().pageConfig.get_excel(this)">
      </md-button>
    </div>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="20"> 序号</div>
      <div class="column-item" flex=""> 供应货品品类</div>
      <div class="column-item" flex=""> 供应货品品种</div>
      <div class="column-item" flex=""> 规格</div>
      <div class="column-item" flex=""> 是否现货</div>
      <div class="column-item" flex=""> 下架时间</div>
      <div class="column-item" flex=""> 批发价</div>
      <div class="column-item" flex=""> 批发价单位</div>
      <div class="column-item" flex=""> 起批量</div>
      <div class="column-item" flex=""> 发货地址省</div>
      <div class="column-item" flex=""> 发货地址市</div>
      <div class="column-item" flex=""> 货品描述</div>
      <div class="column-item" flex=""> 服务方式</div>
      <div class="column-item" flex=""> 电话</div>
      <div class="column-item" flex=""> 详情</div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" item in pageConfig.list">
      <div class="column-item" flex="20" layout="row" layout-align="start start">{{item._id}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_category}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_brand}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goods_specs}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.is_cash_goods}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.get_date( item.undercarriage_time)}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.price}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.price_unit}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.min_count}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.send_province}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.send_city}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.remark}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.provide_services_string}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.mobile_phone}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="pageConfig.go_detail(item)">详情
        </md-button>
      </div>
    </div>
    <div class="list-item" layout="row" layout-align="start center">
      <md-button class="md-primary" ng-click="pageConfig.get_list('prev')">上一页
      </md-button>
      <md-button class="md-primary">
        {{pageConfig.current_page}}
      </md-button>
      <md-button class="md-primary" ng-click="pageConfig.get_list('next')">下一页
      </md-button>
    </div>
  </div>
</div>