<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">供应货品详情</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.message_create()">发送信息</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.market_make_top()">{{pageConfig.detail.is_top?'取消置顶':'置顶'}}</md-button>
      <md-button class="md-primary md-raised md-hue-2" id="qiniu-upload-test-button">上传图片</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.save_photos()">保存图片</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.market_update()">保存信息</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.market_update_status('unpassed')">驳回</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.market_update_status('delete')" style="background-color:#f5091c">删除</md-button>
    </div>
  </div>
  <div layout="row" layout-align="start start">
    <div class="left" flex="">
      <div class="list-header">
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 供应货品</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.goods_class + ' '+ pageConfig.detail.goods_category+ ' ' +pageConfig.detail.goods_brand}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 规格</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.goods_specs}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 是否现货</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.is_cash_goods?'是':'否'"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 下架时间</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.get_date( pageConfig.detail.undercarriage_time)"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 批发价</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.price"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 批发价单位</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.price_unit"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 起批量</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.min_count"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 发货地址</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.send_province +' '+pageConfig.detail.send_city}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 货品描述</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.remark"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 服务方式</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.provide_services_string"></input>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 电话</div>
          <input class="column-item" flex="" layout="row" layout-align="start start" ng-model="pageConfig.detail.mobile_phone"></input>
        </div>
      </div>
    </div>
    <div class="right" flex="">
      <div ng-repeat="photo in pageConfig.detail.photos" style="position:relative;float:left;margin:20px;">
        <img style=" width:200px;height:200px;" class="photo" ng-src="{{photo}}" />
        <div ng-click="pageConfig.delete_photo(photo)" style="position:absolute;left:0px;height:30px;line-height:30px;width:100%;bottom:0px;background-color:red;color:white;text-align:center;">删除</div>
      </div>
    </div>
  </div>
</div>