<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">{{pageConfig.title}}(总数：{{pageConfig.count}})</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.change_auth_status('unauth')">未认证</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.change_auth_status('authing')">认证中</md-button>
      <md-button class="md-primary md-raised md-hue-2" ng-click="pageConfig.change_auth_status('authed')">已认证</md-button>
      <!-- <md-button class="md-primary md-raised md-hue-2 import">{{pageConfig.import_text}}
        <input type="file" onchange="angular.element(this).scope().pageConfig.get_excel(this)">
      </md-button> -->
    </div>
  </div>

  <div class="list-header">
    <div class="list-item" layout="row" layout-align="start center">
      <div class="column-item" flex="">头像</div>
      <div class="column-item" flex="">用户名</div>
      <div class="column-item" flex="">昵称</div>
      <div class="column-item" flex="">角色</div>
      <div class="column-item" flex="">买／卖</div>
      <div class="column-item" flex="">身份</div>
      <div class="column-item" flex="">vip状态</div>
      <div class="column-item" flex="">认证状态</div>
      <div class="column-item" flex="">操作</div>
    </div>
  </div>
  <div class="list-body">
    <div class="list-item" layout="row" layout-align="start center" ng-repeat=" item in pageConfig.list">
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <img style="margin:5px 0px;border-radius:90px;" ng-src="{{item.wechat_info.headimgurl}}" />
      </div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.username}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.nickname}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.role}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.goal}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.identity}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{item.vip_user?'vip':'非vip'}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.get_user_status_text( item.personal_auth_stauts)}}</div>
      <div class="column-item" flex="" layout="row" layout-align="start start">
        <md-button class="md-primary" ng-click="pageConfig.go_detail(item)">详情
        </md-button>
      </div>
    </div>
    <div class="list-item" layout="row" layout-align="start center">
      <md-button class="md-primary" ng-click="pageConfig.get_list('prev')">上一页
      </md-button>
      <md-button class="md-primary">
        {{pageConfig.current_page}}
      </md-button>
      <md-button class="md-primary" ng-click="pageConfig.get_list('next')">下一页
      </md-button>
    </div>
  </div>
</div>