<div class="page-body-view">
  <div class="page-operation-view" layout="row" layout-align="space-between center">
    <p class="title">用户详情</p>
    <div>
      <md-button class="md-primary md-raised md-hue-2" ng-disabled="{{pageConfig.detail.personal_auth_stauts==='authed'}}">认证通过</md-button>
    </div>
  </div>
  <div layout="row" layout-align="start start">
    <div class="left" flex="">
      <div class="list-header">
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 头像</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">
            <img style="margin:5px 0px;border-radius:90px;width:30px;" ng-src="{{pageConfig.detail.wechat_info.headimgurl}}" />
          </div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 用户名</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.username}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 昵称</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.wechat_info.nickname}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 角色</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.role}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 买／卖</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.goal}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 身份</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.identity}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> vip状态</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.vip_user}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex=""> 个人认证状态</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.personal_auth_stauts}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex="">个人认证时间</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.personal_auth_time}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex="">个人认证真实姓名</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.personal_auth_real_name}}</div>
        </div>
        <div class="list-item" layout="row" layout-align="start center">
          <div class="column-item" flex="">个人认证身份证号</div>
          <div class="column-item" flex="" layout="row" layout-align="start start">{{pageConfig.detail.personal_auth_id_number}}</div>
        </div>
      </div>
    </div>
    <div class="right" flex="">
      <div style="position:relative;float:left;margin:20px;">
        <img style=" width:200px;height:200px;" class="photo" ng-src="{{pageConfig.detail.personal_auth_id_front_photo}}" />
        <div style="position:absolute;left:0px;height:30px;line-height:30px;width:100%;bottom:0px;background-color:green;color:white;text-align:center;">身份证正面</div>
      </div>
      <div style="position:relative;float:left;margin:20px;">
        <img style=" width:200px;height:200px;" class="photo" ng-src="{{pageConfig.detail.personal_auth_id_back_photo}}" />
        <div style="position:absolute;left:0px;height:30px;line-height:30px;width:100%;bottom:0px;background-color:green;color:white;text-align:center;">身份证背面</div>
      </div>
      <div style="position:relative;float:left;margin:20px;">
        <img style=" width:200px;height:200px;" class="photo" ng-src="{{pageConfig.detail.personal_auth_id_real_photo}}" />
        <div style="position:absolute;left:0px;height:30px;line-height:30px;width:100%;bottom:0px;background-color:green;color:white;text-align:center;">人证照片</div>
      </div>
    </div>
  </div>
</div>