html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0px;
    background-color: inherit;
    border-radius: 0px;
  }
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
    &:link {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
  .weui-tab {
    .weui-panel_access {
      margin-top: 60px;
    }
    .weui-panel__bd {
      height: 100%;
      overflow-y: scroll;
      background-color: white;
      -webkit-overflow-scrolling: touch;
    }
    .weui-media-box_appmsg {
      padding: 10px 15px;
      .weui-media-box__hd {
        height: 80px;
        width: 80px;
      }
    }
    // .minirefresh-wrap {
    //   margin-top: 50px;
    //   background-color: white;
    // }
  }
}