<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>行情大厅</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/com_goods_choose_container.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_market_purchases_list.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>

  <script src="../c_wechat/controllers/page_common.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_market_purchases_list.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />


  <script src="../c_libs/common.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="weui-tab page-market-list">
    <div class="weui-navbar">
      <a id="nav1" class="weui-navbar__item weui-bar__item--on" href="#tab1">
        采购商
      </a>
      <!-- <a id="nav2" class="weui-navbar__item" href="#tab2">
        供应商
      </a> -->
      <a id="nav3" class="weui-navbar__item" href="#tab3">
        每日行情
      </a>
    </div>
    <div class="weui-tab__bd">
      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <div class="market-tip">想成为采购商让全国种植户看到，请联系客服。</div>
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            所在城市
          </div>

          <div class="weui-cell__bd citys-choose-input-row">
            <input style="display:hidden" id="citys-choose-input" class="weui-input" placeholder="城市" disabled="disabled">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            所在批发市场
          </div>
          <div class="weui-cell__bd markets-choose-input-row">
            <input id="markets-choose-input" disabled="disabled" class="weui-input" placeholder="批发市场">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>

      <div id="tab3" class="weui-tab__bd-item">
        <div class="market-tip">如要发布市场行情，请联系客服。</div>
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            所在批发市场
          </div>
          <div class="weui-cell__bd price-markets-choose-input-row">
            <input id="price-markets-choose-input" disabled="disabled" class="weui-input" placeholder="批发市场">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="citys-choose" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal citys-choose-container">
    </div>
  </div>
</body>
<script>
  var is_vip = '<%= user.vip_user %>';
</script>

</html>