<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>行情大厅</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_market_list.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_market_list.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />


  <script src="../c_libs/common.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="weui-tab page-market-list">
    <div class="weui-navbar">
      <a id="nav1" class="weui-navbar__item weui-bar__item--on" href="#tab1">
        采购商
      </a>
      <a id="nav2" class="weui-navbar__item" href="#tab2">
        供应商
      </a>
      <a id="nav3" class="weui-navbar__item" href="#tab3">
        每日行情
      </a>
    </div>
    <div class="weui-tab__bd">
      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            所在城市
          </div>

          <div class="weui-cell__bd">
            <input id="my-purchases-status" class="weui-input" placeholder="城市" readonly="readonly">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            所在批发市场
          </div>
          <div class="weui-cell__bd">
            <input id="my-purchases-status" class="weui-input" placeholder="批发市场" readonly="readonly">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>

        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">商户名称
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">商户名称
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">商户名称
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">商户名称
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div id="tab2" class="weui-tab__bd-item">
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            种植户所售单品类
          </div>
          <div class="weui-cell__bd">
            <input id="my-purchases-status" class="weui-input" placeholder="品类" readonly="readonly">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">种植户单品
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">种植户名称
            </div>
            <div class="title2">所在地到城市</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">商户名称
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">商户名称
            </div>
            <div class="title2">商户主营品类</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div id="tab3" class="weui-tab__bd-item">
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(function () {
    var mySwiper = new Swiper('.swiper-container', {
      autoplay: 5000,//可选选项，自动滑动
    });

    $("#my-purchases-status").select({
      title: "选择状态",
      items: ["采购中", "已停止", "被驳回"]
    });

    $("#my-purchases-status").picker({
      title: "选择状态",
      cols: [
        {
          textAlign: 'center',
          values: ["采购中", "已停止", "被驳回"]
        }
      ]
    });

    getUserJsApiTicket(window.location.href, function (data) {
    });
  })


</script>

</html>