<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>批发市场详情</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/com_goods_choose_container.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_market_purchases_list.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>

  <script src="../c_wechat/controllers/page_common.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_market_purchases_list.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />


  <script src="../c_libs/common.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="weui-tab page-market-list">
    <div class="weui-navbar">
      <a id="nav3" class="weui-navbar__item  weui-bar__item--on" href="#tab3">
        <%= market %>
      </a>
    </div>
    <div class="weui-tab__bd">
      <div id="tab3" class="weui-tab__bd-item weui-tab__bd-item--active">

      </div>
    </div>
  </div>
  <div id="citys-choose" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal citys-choose-container">
    </div>
  </div>
</body>
<script>
  var market_for_search = '<%= market %>';
</script>

</html>