<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>发布采购货品</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_create_price.client.style.css" />

  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
  <script src="../c_wechat/controllers/page_common.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_purchases_create_main.client.controller.js"></script>
</head>

<body>
  <div class="weui-tab page-purchases-create-main">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title">给他看货
              </p>
            </div>
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files" id="uploaderFiles">
                <li class="weui-uploader__file">
                  <img class="img" src="">
                  <div class="name">货品品类</div>
                  <div class="price">121元／斤</div>
                </li>
                <li class="weui-uploader__file">
                  <img class="img" src="">
                  <div class="name">货品品类</div>
                  <div class="price">121元／斤</div>
                </li>
              </ul>
              <div class="weui-uploader__input-box">
                <div class="weui-uploader__input camera"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>价格</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input expect_min_price" placeholder="买家意向：面议">
        </div>
        <div class="weui-cell__ft" style="width:50px;">
          <input class="weui-input expect_price_unit" id="picker-expect-price-unit" style="color:#1aad19;" disabled="disabled" value="元/斤">
        </div>
      </div>
      <div class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>供应量
          </p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input need_number" placeholder="请输入数量">
        </div>
        <div class="weui-cell__ft" style="width:30px;">
          <input class="weui-input need_unit" id="picker-requirement-unit" style="color:#1aad19;" disabled="disabled" value="斤">
        </div>
      </div>

      <div class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>货物所在地</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input expect_address" id="sender-city-picker" placeholder="请选择期望货源地 不填默认全国"></input>
        </div>
        <div class="weui-cell__ft">

        </div>
      </div>
    </div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          说明
          <textarea onKeyUp="value=value.replace(/[\d]/g,'')" class="weui-textarea remark" placeholder="详细的描述采购要求，可以收到更满意的报价" rows="3"></textarea>
          <div class="weui-textarea-counter">
            <span class="remark-number">0</span>/200</div>
        </div>
      </div>
    </div>
    <a style="margin:20px;" href="javascript:;" class="weui-btn weui-btn_primary submit">提交报价</a>
  </div>
</body>
<script>
</script>

</html>