<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>我要买</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/com_goods_choose_container.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_list.client.style.css" />

  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_libs/common.js"></script>
  <script src="../c_wechat/controllers/page_tool.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_common.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_purchases_my_list.client.controller.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="weui-tab page-purchases-list">
    <div class="weui-navbar">
      <a id="nav2" class="weui-navbar__item" href="#tab2">
        我的采购
      </a>
      <!-- <a class="weui-navbar__item" href="/page_wechat/page_market_list"> -->
    </div>

    <div class="weui-tab__bd">
      <div id="tab2" class="weui-tab__bd-item  weui-tab__bd-item--active">
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
    </div>

  </div>
</body>
<script>
  $(function () {

  })
</script>

</html>