<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>货品详情</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_detail.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
</head>

<body>

  <div class="weui-tab page-purchases-detail">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516822472890&di=a85e7abe638922a35d8c4c10ee3b14c6&imgtype=0&src=http%3A%2F%2Fpic1.cxtuku.com%2F00%2F09%2F61%2Fb948e039f9ee.jpg">
        </div>
        <div class="swiper-slide">
          <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516822472890&di=a85e7abe638922a35d8c4c10ee3b14c6&imgtype=0&src=http%3A%2F%2Fpic1.cxtuku.com%2F00%2F09%2F61%2Fb948e039f9ee.jpg">
        </div>
        <div class="swiper-slide">
          <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516814838684&di=d9fea51c2e8a8bf459d530a73b86073b&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F39%2F05%2F96N58PICsWH_1024.jpg">
        </div>
      </div>
    </div>
    <div class="detail-content">
      <div class="name">香水柠檬苗</div>
      <div class="address">广西壮族自治区长沙市</div>
      <div class="price">12.00
        <span class="price-unit">元／颗</span>
        <span class="price-min">1颗起批</span>
      </div>
    </div>
    <div class="detail-content">
      <span class="service-tip">协助找车</span>
      <span class="service-tip">基地直供</span>
      <span class="service-tip">提供样品</span>
    </div>
    <div class="detail-content">
      <span class="service-tip">实名认证</span>
      <span class="service-tip">企业认证</span>
      <span class="service-tip">实地认证</span>
    </div>
    <div class="detail-content">
      <div class="center-title">货品规格</div>
      <div class="weui-flex">
        <div class="weui-flex__item">品种名</div>
        <div class="weui-flex__item">香水柠檬</div>
        <div class="weui-flex__item">地径</div>
        <div class="weui-flex__item">2公分以下</div>
      </div>
      <div class="weui-flex">
        <div class="weui-flex__item">米经</div>
        <div class="weui-flex__item">4公分一下</div>
        <div class="weui-flex__item">高度</div>
        <div class="weui-flex__item">0.5米以下</div>
      </div>
      <div class="weui-flex">
        <div class="weui-flex__item">分类</div>
        <div class="weui-flex__item">成品树</div>
        <div class="weui-flex__item"></div>
        <div class="weui-flex__item"></div>
      </div>
    </div>
    <div class="detail-content">
      <div class="center-title">图文详情</div>
      <div class="center-content">
        <p>
          香水柠檬为台湾培育品种，其果型修长，大而无核，最大的特色是果皮味道是清甜的，完全没有其他柠檬的苦涩味道，可以直接切片泡水，因其汁水香气浓郁，故有“香水柠檬”，因其无核所以也叫“无核柠檬。香水柠檬一年四季花果不断，几乎周年不断收果，所以也称“台湾四季香水柠檬”。香水柠檬不单是夏季冷食圣品，更是养颜美容、瘦身之佳品
          本店价格默认为1年苗嫁接苗裸根苗发货！杯苗及其他年限的苗价格另议！谢谢
        </p>
      </div>
      <div class="center-img">
        <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2708635844,1038263640&fm=27&gp=0.jpg">
      </div>
      <div class="center-img">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516821911433&di=b76e75b59c5d4b05296954866d7d7426&imgtype=0&src=http%3A%2F%2Fpic35.nipic.com%2F20131110%2F8733660_100110968000_2.jpg">
      </div>
      <div class="center-img">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516821911433&di=b76e75b59c5d4b05296954866d7d7426&imgtype=0&src=http%3A%2F%2Fpic35.nipic.com%2F20131110%2F8733660_100110968000_2.jpg">
      </div>
    </div>
  </div>
  </div>
</body>
<script>
  var mySwiper = new Swiper('.swiper-container', {
    autoplay: 5000,//可选选项，自动滑动
  })
</script>

</html>