<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>货品详情</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_detail.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
</head>




<body>
  <div class="weui-tab page-purchases-detail">
    <div class="purchases-detail-content">
      <div class="title-row">
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1517075726438&di=d74e6b85b5d75b7f54a6d3c141cf576f&imgtype=0&src=http%3A%2F%2Fwww.qqzhi.com%2Fuploadpic%2F2015-01-07%2F014622445.jpg">
        <div class="title-right">
          <div class="name">
            <%= (purchases.username||'某先生') %>
          </div>
          <div class="address">用户地址</div>
          <div class="browser">
            119人浏览
          </div>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">采购货品</div>
        <div class="body-row-right">
          <%= (purchases.goods_name||'-') %>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">规格</div>
        <div class="body-row-right">
          <%= (purchases.goods_specs||'-') %>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">期望价格</div>
        <div class="body-row-right">
          <%= (purchases.expect_price||'-')+(purchases.expect_price_unit||'-') %>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">需求量</div>
        <div class="body-row-right">
          <%= (purchases.need_number||'-')+(purchases.need_unit||'-') %>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">期望货源地</div>
        <div class="body-row-right">
          <%= ((purchases.expect_province+purchases.expect_city)||'-') %>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">所在地</div>
        <div class="body-row-right">
          <%= ((purchases.receive_province+purchases.receive_city)||'-') %>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">补充说明</div>
        <div class="body-row-right">
          <%= (purchases.remark||'-') %>
        </div>
      </div>
    </div>
  </div>
</body>
<script>

</script>

</html>