<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>报价</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_create_price.client.style.css" />

  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
  <script src="../c_wechat/controllers/page_common.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_wechat.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_purchases_create_main.client.controller.js"></script>
</head>

<body>
  <div class="weui-tab page-purchases-create-main">
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title">给他看货
              </p>
            </div>
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files">
                <% for(var i =0;i<supplys.length;i++){ %>
                  <li class="weui-uploader__file" id="<%= supplys[i]._id %>">
                    <i class=" weui-icon_msg"></i>
                    <img class="img" src="<%= supplys[i].photos[0] %>">
                    <div class="name">
                      <%= ( supplys[i].goods_brand ) %>
                    </div>
                    <div class="price">
                      <%= (supplys[i].price+supplys[i].price_unit) %>
                    </div>
                  </li>
                  <%  } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-cells">
      <div class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>价格</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input supply_price" placeholder="买家意向：<%= (purchases.expect_price||'面议') %>">
        </div>
        <div class="weui-cell__ft" style="width:50px;">
          <input class="weui-input" id="picker-expect-price-unit" style="color:#1aad19;" disabled="disabled" value="<%= (purchases.expect_price_unit||'面议') %>">
        </div>
      </div>
      <div class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>供应量
          </p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input supply_count" placeholder="买家意向：<%= (purchases.need_number||'面议') %>">
        </div>
        <div class="weui-cell__ft" style="width:30px;">
          <input class="weui-input need_unit" id="picker-requirement-unit" style="color:#1aad19;" disabled="disabled" value="斤">
        </div>
      </div>

      <div class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>货物所在地</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input address" id="sender-city-picker" placeholder="请选择货源地 不填默认全国"></input>
        </div>
        <div class="weui-cell__ft">

        </div>
      </div>
    </div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          说明
          <textarea onKeyUp="value=value.replace(/[\d]/g,'')" class="weui-textarea description" placeholder="详细的描述货物的卖点，当前供货量和货运方式等。描述越详细，越有助于客户了解您的货品，最终达到交易。"
            rows="3"></textarea>
          <div class="weui-textarea-counter">
            <span class="remark-number">0</span>/200</div>
        </div>
      </div>
    </div>
    <a style="margin:20px;" href="javascript:;" class="weui-btn weui-btn_primary submit">提交报价</a>
  </div>
</body>
<script>

  $(function () {
    $("#sender-city-picker").cityPicker({
      title: "货源地",
      showDistrict: false
    });



    $('.weui-uploader__file').click(function () {
      $(this).siblings().find('i').removeClass('weui-icon-success');
      $(this).find('i').addClass('weui-icon-success');
      select_supply_id = this.id;
    });

    if ($('.weui-uploader__file').first()) {
      $('.weui-uploader__file').first().click();
    }

    var select_supply_id;
    var len = 0;
    $('.description').on("input propertychange", function (e) {
      if (len >= 150 && e.keyCode == 8) {
        return;
      } else {
        // 取出回车字符
        var textareaVal = ($(this).val().replace(/<(.+?)>/gi, "&lt;$1&gt;")).replace(/\n/gi, "|");
        // 回车数量
        var entLen = textareaVal.split('|').length - 1;
        // 不包含回车的数量
        var strLen = textareaVal.split('|').join('').length;
        $(this).attr('maxlength', 150 + (entLen * 2));
        len = strLen;
        if (len >= 150) {
          len = 150;
        };
        // $('.textarea_box span').text(len + '/150');
        $('.remark-number').text(len);

      }
    });

    $('.submit').click(function () {
      var address = $('.address').val();
      var supply_count = $('.supply_count').val();
      var description = $('.description').val();
      var price = $('.supply_price').val();
      var city, province;
      if (!address) {
        address = '全国 全国';
      }
      if (!select_supply_id) {
        return $.toast("请选择供应货品", "forbidden");
      }
      province = address.split(' ')[0];
      city = address.split(' ')[1];

      $.ajax({
        url: '/api_wechat/purchases/purchases_offer_price',
        data: {
          supply_id: select_supply_id,
          province: province,
          city: city,
          purchases_id: '<%= purchases._id %>',
          price: price || 0,
          supply_count: supply_count || 0,
          description: description || '',
        },
        method: 'post',
        success: function (data) {
          if (!data || data.err) {
            return $.toast(data.err.message, "forbidden");
          }
          else {
            $.toast('报价成功！');
            window.history.back();
          }
        }
      });
    });

  });
</script>

</html>