<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>货品详情</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_detail.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
</head>

<body>
  <div class="weui-tab page-purchases-detail">
    <div class="purchases-detail-content">
      <div class="title-row">
        <img src="">
        <div class="title-right">
          <div class="name">sdfa</div>
          <div class="address">asdf</div>
          <div class="browser"><saf/div>
        </div>
      </div>
      <div class="body-row">
        <div class="body-row-left">ss</div>
        <div class="body-row-right">sss</div>
      </div>
    </div>
  </div>
</body>
<script>

</script>

</html>