<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>采购列表</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_list.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../c_libs/minirefresh.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />


  <script src="../c_libs/common.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="weui-tab page-purchases-list">
    <div class="weui-navbar">
      <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
        供应大厅
      </a>
      <a class="weui-navbar__item" href="#tab2">
        我的采购
      </a>
      <a class="weui-navbar__item" href="/page_wechat/page_market_list">
        行情大厅
      </a>
    </div>

    <div class="weui-tab__bd">
      <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img style="width:100%" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516822610859&di=e3b3277e745aba4382be0773d3d1f0f5&imgtype=0&src=http%3A%2F%2Fpic24.nipic.com%2F20121019%2F8575724_084141778000_2.jpg">
            </div>
            <div class="swiper-slide">
              <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516814838684&di=d9fea51c2e8a8bf459d530a73b86073b&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F39%2F05%2F96N58PICsWH_1024.jpg">
            </div>
            <div class="swiper-slide">
              <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516814838684&di=d9fea51c2e8a8bf459d530a73b86073b&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F39%2F05%2F96N58PICsWH_1024.jpg">
            </div>
          </div>
        </div>
        <a href="/page_wechat/page_supply_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_create_main" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>


          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516813447292&di=5f4eaade66c430dd3a958c2cfac95425&imgtype=0&src=http%3A%2F%2Fpic32.photophoto.cn%2F20140821%2F0006019010973602_b.jpg">
          </div>
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">湖北省武汉市 张先生</div>

            <span class="tag blue">实地认证</span>
            <span class="tag orange">企业</span>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="time">
                12小时前
              </div>
            </div>
          </div>
        </a>
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
      <div id="tab2" class="weui-tab__bd-item">
        <a class="weui-cell weui-cell_access" href="javascript:;">
          <div class="weui-cell__bd">
            <input id="my-purchases-status" class="weui-input" placeholder="状态" readonly="readonly">
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
        <a href="/page_wechat/page_purchases_detail" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">品种：泰国小菠萝</div>
            <div class="title2">浏览次数：111次</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="stop">
                停止采购
              </div>
            </div>


          </div>
        </a>
        <a href="#" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">品种：泰国小菠萝</div>
            <div class="title2">浏览次数：111次</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="stop">
                停止采购
              </div>
            </div>


          </div>
        </a>
        <a href="#" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">品种：泰国小菠萝</div>
            <div class="title2">浏览次数：111次</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="stop">
                停止采购
              </div>
            </div>


          </div>
        </a>
        <a href="#" class="weui-media-box weui-media-box_appmsg purchases-list-item">
          <div class="weui-media-box__bd">
            <div class="title1">八月桂
            </div>
            <div class="title2">品种：泰国小菠萝</div>
            <div class="title2">浏览次数：111次</div>
            <div class="item-bottom">
              <div class="price">12.00
                <span class="price-unit">元／斤</span>
              </div>
              <div class="stop">
                停止采购
              </div>
            </div>
          </div>
        </a>
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
      <div id="tab3" class="weui-tab__bd-item">
        sda
      </div>
    </div>
    <div class="weui-tabbar">
      <a href="/page_wechat/page_purchases_list" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
        <p class="weui-tabbar__label">我要买</p>
      </a>
      <a href="/page_wechat/page_supply_list" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <p class="weui-tabbar__label">我要卖</p>
      </a>
      <a href="javascript:;" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="weui-tabbar__label">我的</p>
      </a>
    </div>
    <a href="/page_wechat/page_purchases_create_main" class="weui-btn weui-btn_primary c-create-btn">发采购</a>

  </div>
</body>
<script>
  $(function () {

    var mySwiper = new Swiper('.swiper-container', {
      autoplay: 5000,//可选选项，自动滑动
    });

    $("#my-purchases-status").select({
      title: "选择状态",
      items: ["采购中", "已停止", "被驳回"]
    });

    $("#my-purchases-status").picker({
      title: "选择状态",
      cols: [
        {
          textAlign: 'center',
          values: ["采购中", "已停止", "被驳回"]
        }
      ]
    });
   
  })


</script>

</html>