<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>我要买</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_list.client.style.css" />

  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_libs/common.js"></script>
  <script src="../c_wechat/controllers/page_purchases_list.client.controller.js"></script>
  <style>
  </style>
</head>

<body>
  <div class="weui-tab page-purchases-list">
    <div class="weui-navbar">
      <a id="nav1" class="weui-navbar__item weui-bar__item--on" href="#tab1">
        供应大厅
      </a>
      <a id="nav2" class="weui-navbar__item" href="#tab2">
        我的采购
      </a>
      <!-- <a class="weui-navbar__item" href="/page_wechat/page_market_list"> -->
      <a class="weui-navbar__item" href="/page_market_list">
        行情大厅
      </a>
    </div>

    <div class="weui-tab__bd">
      <div id="tab1" class="weui-tab__bd-item  weui-tab__bd-item--active">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% for(var i = 0;i<banners.length;i++){ %>
              <div class="swiper-slide">
                <img style="width:100%" src="<%= banners[i] %>" />
              </div>
              <% } %>
                <!-- <div class="swiper-slide">
                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516814838684&di=d9fea51c2e8a8bf459d530a73b86073b&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F39%2F05%2F96N58PICsWH_1024.jpg">
                </div>
                <div class="swiper-slide">
                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516814838684&di=d9fea51c2e8a8bf459d530a73b86073b&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F39%2F05%2F96N58PICsWH_1024.jpg">
                </div> -->
          </div>
        </div>
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
      <div id="tab2" class="weui-tab__bd-item">
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
      <div id="tab3" class="weui-tab__bd-item">
        sda
      </div>
    </div>
    <div class="weui-tabbar">
      <a href="/page_wechat/page_purchases_list" class="weui-tabbar__item weui-bar__item--on">
        <div class="weui-tabbar__icon">
          <i class="fa fa-shopping-basket"></i>
        </div>
        <p class="weui-tabbar__label">我要买</p>
      </a>
      <a href="/page_wechat/page_supply_list" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <p class="weui-tabbar__label">我要卖</p>
      </a>
      <a href="/page_wechat/page_my_main" class="weui-tabbar__item">
        <div class="weui-tabbar__icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="weui-tabbar__label">我的</p>
      </a>
    </div>
    <a href="/page_wechat/page_purchases_create_main" class="weui-btn weui-btn_primary c-create-btn">发采购</a>

  </div>
</body>
<script>

</script>

</html>