<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>货品详情</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_purchases_create_main.client.style.css" />

  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>
  <script src="../c_wechat/controllers/page_common.client.controller.js"></script>
  <script src="../c_wechat/controllers/page_purchases_create_main.client.controller.js"></script>
</head>

<body>
  <div class="weui-tab page-purchases-create-main">
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access open-popup" href="javascript:;" data-target="#goods-choose">
        <div class="weui-cell__bd">
          <p>采购货品</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input get_choose_categorys" disabled="disabled" placeholder="请选择采购货品">
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>

    </div>
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access  open-popup" href="javascript:;" data-target="#specs-choose">
        <div class="weui-cell__bd">
          <p>规格要求</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" placeholder="请选择规格要求">
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>需求量</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" placeholder="请输入数量">
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="picker-requirement-unit" value="斤">
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>期望货源地</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="sender-city-picker" placeholder="请选择期望货源地"></input>
        </div>
        <div class="weui-cell__ft">

        </div>
      </a>
    </div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          补充说明
          <textarea class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
          <div class="weui-textarea-counter">
            <span>0</span>/200</div>
        </div>
      </div>
    </div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title">图片说明</p>
              <div class="weui-uploader__info">0/4</div>
            </div>
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files" id="uploaderFiles">
                <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
                  <div class="weui-uploader__file-content">
                    <i class="weui-icon-warn"></i>
                  </div>
                </li>
                <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
                  <div class="weui-uploader__file-content">50%</div>
                </li>
              </ul>
              <div class="weui-uploader__input-box">
                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-cells" style="margin-bottom:20px;">
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>采购时长</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="picker-purchases-duration" placeholder="请选择采购时长"></input>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>收货地址</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="receiver-city-picker" placeholder="请选择收货地址"></input>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
          <p>联系电话</p>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" placeholder="请输入手机号"></input>
        </div>
      </a>
    </div>
    <a style="margin:20px;" href="javascript:;" class="weui-btn weui-btn_primary">确认发布</a>
  </div>
  <div id="goods-choose" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal goods-choose-container">
    </div>
  </div>
  <div id="specs-choose" class="weui-popup__container">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal specs-choose-container">
      <div class="specs-container">
        <div class="specs-title">单颗重（选填）
        </div>
        <div class="weui-flex">
          <a class="weui-flex__item  close-popup" href="javascript:;">weui</a>
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
        </div>
        <div class="weui-flex">
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
        </div>
        <div class="weui-flex">
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item"></div>
        </div>

      </div>
      <div class="specs-container">
        <div class="specs-title">单颗重（选填）
        </div>
        <div class="weui-flex">
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
        </div>
        <div class="weui-flex">
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
        </div>
        <div class="weui-flex">
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item">weui</div>
          <div class="weui-flex__item"></div>
        </div>

      </div>
    </div>
  </div>
</body>
<script>
  $(function () {
    $("#picker-requirement-unit").picker({
      title: "请选择您的称呼",
      cols: [
        {
          textAlign: 'center',
          values: ['斤', '公斤', '吨', '箱', '盒']
          //如果你希望显示文案和实际值不同，可以在这里加一个displayValues: [.....]
        }
      ]
    });
    $("#picker-purchases-duration").picker({
      title: "采购时长",
      cols: [
        {
          textAlign: 'center',
          values: ['7天', '3个月', '6个月']
          //如果你希望显示文案和实际值不同，可以在这里加一个displayValues: [.....]
        }
      ]
    });
    $("#sender-city-picker").cityPicker({
      title: "期望货源地"
    });
    $("#receiver-city-picker").cityPicker({
      title: "收获地址"
    });
    get_choose_categorys(function (text) {
      $('.get_choose_categorys').val(text);
    })
  })
</script>

</html>