<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="Eo8Geaqz5W" />
  <!-- <meta name="keywords" content="神秘访客,深度分销,终端督查,尼尔森,OSA,陈列标准,分销标准,理货,门店观察,门店执行,终端执行,店内营销,快消大数据,IMS"> -->
  <!-- <meta name="description" content="A+现场平台汇集数万名快消业务员，理货员，促销员，神秘访客，为企业客户提供门店执行督查，神秘访客，店内营销和深度分销服务。客户包括尼尔森，蒙牛，三全等"> -->
  <link rel="shortcut icon" href="https://dn-agilepops.qbox.me/web_libs/supports/images/favicon.ico" type="image/x-icon">

  <script type='text/javascript' src="https://dn-agilepops.qbox.me/web_libs/libs/jquery/dist/jquery.min.js"></script>
  <script type='text/javascript' src="https://dn-agilepops.qbox.me/web_libs/libs/jquery.cookie/jquery.cookie.js"></script>
  <script type='text/javascript' src="https://dn-agilepops.qbox.me/web_libs/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://dn-agilepops.qbox.me/web_libs/libs/bootstrap/dist/css/bootstrap.min.css">

  <script type='text/javascript' src="/c_site/controllers/index.client.controller.js"></script>
  <link rel="stylesheet" href="/c_site/css/index.client.style.css">

  <title>卖菜帮</title>

</head>

<body>
  <div class="header">
    <div class="new-index-header china mengniu">
      <div class="header-mask"></div>
      <div class="header-content">
        <div class="logo">
          卖菜帮后台管理系统
        </div>
        <div class="download-mengniu-app-china">APP下载</div>
        <div class="split-line"></div>
      </div>
    </div>
  </div>
  <div class="new-index-view">

    <form class="manage-login-form">
      <div class="form-container">
        <input class="hidden" placeholder="haha" ng-maxlength="100" autocomplete="off" />

        <div class="input-div username">
          <input type="text" placeholder="用户名" ng-maxlength="100" autocomplete="off" />
          <ul class="username-list"></ul>
        </div>
        <div class="input-div password">
          <input type="password" placeholder="密码" ng-maxlength="100" autocomplete="off" onfocus="this.type='password'" />
        </div>
        <div class="submit">
          <button type="submit">登录</button>
        </div>
        <p class="error-tip"></p>
      </div>
    </form>
  </div>
</body>

</html>