<!-- 
        作者：dailc
        时间：2017-08-29
        描述： 嵌套swipe
-->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
  <link rel="stylesheet" href="../c_libs/minirefresh.min.css" />
  <link rel="stylesheet" href="../c_libs/common.css" />
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../c_libs/minirefresh.min.js"></script>
  <script src="../c_libs/common.js"></script>
  <style>
    .swiper-container {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .minirefresh-wrap {
      top: 0;
    }
  </style>
</head>

<body>

  <div class="content">
    <div class="nav-control">
      <p class="active" list-type="0">列表0</p>
      <p list-type="1">列表1</p>
      <p list-type="2">列表2</p>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div id="minirefresh0" class="minirefresh-wrap">
            <div class="minirefresh-scroll">
              <ul class="data-list" id="listdata0">
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="minirefresh1" class="minirefresh-wrap">
            <div class="minirefresh-scroll">
              <ul class="data-list" id="listdata1">
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div id="minirefresh2" class="minirefresh-wrap">
            <div class="minirefresh-scroll">
              <ul class="data-list" id="listdata2">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <script>
    
  </script>
</body>

</html>