<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>选择品种</title>
  <!-- head 中 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <!-- body 最后 -->
  <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>

  <!-- 如果使用了某些拓展插件还需要额外的JS -->
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>

  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="o-page o-page-signin">


  </div>
</body>

</html>