<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />
  <title>货品详情</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />

  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_supply_detail.client.style.css" />

  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  <script type="text/javascript" src="../libs/Swiper/dist/js/swiper.min.js"></script>
  <script src="../libs/moment/min/moment.min.js"></script>
  
  <script src="../libs/jquery/dist/jquery.js"></script>

  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
</head>

<body>
  <div class="weui-tab page-supply-detail">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% for(var i =0;i<supply.photos.length;i++){ %>
          <div class="swiper-slide">
            <img src="<%= supply.photos[i] %>" style="width:100%;height:100%">
          </div>
          <%  } %>
      </div>
    </div>
    <div class="detail-content">
      <div class="name-row">
        <div class="name">
          <%= (((supply.goods_class||'') + supply.goods_category + supply.goods_brand) ||'-') %>
            <span class="grounding_time" style="font-size: 14px;"></span>
        </div>
        <a class="phone" href="tel:0551-65669265">客服</a>
      </div>
      <div class="address">
        <%= (( supply.send_province + supply.send_city )||'-') %>
      </div>
      <div class="price">
        <%= (supply.price||'-') %>
          <span class="price-unit">
            <%= (supply.price_unit||'-') %>
          </span>
          <span class="price-min">
            <%= ((supply.min_count+supply.price_unit.split('/')[1])||'-') %>起批
          </span>
      </div>
    </div>
    <div class="detail-content">
      <% for(var i =0;i<supply.provide_services.length;i++){ %>
        <span class="service-tip">
          <i class="weui-icon-info-circle"></i>
          <%= (supply.provide_services[i]||'-') %>
        </span>
        <%  } %>
    </div>
    <div class="detail-content">
      <% if(supply.user&&supply.user.personal_auth_stauts==='authed'){ %>
        <span class="auth-tip orange">实名认证</span>
        <% }else{ %>
          <span class="auth-tip orange">未实名认证</span>
          <% } %>
    </div>
    <div class="detail-content">
      <div class="center-title">货品规格</div>

      <% for(var i =0;i<supply.goods_specs_list.length;i++){ %>
        <% if(i%2===0){ %>
          <div class="weui-flex">
            <%  } %>

              <div class="weui-flex__item">
                <%= (supply.goods_specs_list[i].key||'-') %>
              </div>
              <div class="weui-flex__item">
                <%= (supply.goods_specs_list[i].value||'-') %>
              </div>
              <% if((i+1)%2===0){ %>
          </div>
          <%  } %>

            <% if((i+1)%2!==0&&i===supply.goods_specs_list.length-1){ %>
              <div class="weui-flex__item">
              </div>
              <div class="weui-flex__item">
              </div>

    </div>
    <%  } %>
      <%  } %>
  </div>
  <div class="detail-content">
    <div class="center-title">图文详情</div>
    <div class="center-content">
      <p>
        <%= supply.remark %>
          <!-- 香水柠檬为台湾培育品种，其果型修长，大而无核，最大的特色是果皮味道是清甜的，完全没有其他柠檬的苦涩味道，可以直接切片泡水，因其汁水香气浓郁，故有“香水柠檬”，因其无核所以也叫“无核柠檬。香水柠檬一年四季花果不断，几乎周年不断收果，所以也称“台湾四季香水柠檬”。香水柠檬不单是夏季冷食圣品，更是养颜美容、瘦身之佳品
            本店价格默认为1年苗嫁接苗裸根苗发货！杯苗及其他年限的苗价格另议！谢谢 -->
      </p>
    </div>
    <% for(var i =0;i<supply.photos.length;i++){ %>
      <div class="center-img">
        <img src="<%= supply.photos[i] %>">
      </div>
      <%  } %>
  </div>
  <a style="margin:10px;" href="tel:0551-65669265" class="weui-btn weui-btn_primary">联系电话</a>
  </div>
</body>
<script>
  $(function () {
    var supply = '<%- JSON.stringify( supply) %>';
    supply = JSON.parse(supply);
    if (supply.grounding_time)
      $('.grounding_time').text('(上架：'+moment( supply.grounding_time).format('YYYY-MM-DD')+')');

  })
</script>

</html>