.page-purchases-detail {
  background-color: #eee;
  height: 100%;
}
.page-purchases-detail .purchases-detail-content {
  background-color: white;
  padding: 15px;
}
.page-purchases-detail .purchases-detail-content .title-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.page-purchases-detail .purchases-detail-content .title-row img {
  width: 60px;
  height: 60px;
  border-radius: 90px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.page-purchases-detail .purchases-detail-content .title-row .title-right .name {
  font-size: 16px;
}
.page-purchases-detail .purchases-detail-content .title-row .title-right .address {
  color: #999;
  font-size: 12px;
}
.page-purchases-detail .purchases-detail-content .title-row .title-right .browser {
  color: #999;
  font-size: 12px;
}
.page-purchases-detail .purchases-detail-content .body-row {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-purchases-detail .purchases-detail-content .body-row:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.page-purchases-detail .purchases-detail-content .body-row .body-row-left {
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  width: 20%;
  border-right: 1px solid #e5e5e5;
}
.page-purchases-detail .purchases-detail-content .body-row .body-row-right {
  padding-left: 10px;
  width: 80%;
}
