html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
}
html input,
body input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0px;
  background-color: inherit;
  border-radius: 0px;
}
html a,
body a {
  text-decoration: none;
}
html a:visited,
body a:visited {
  text-decoration: none;
}
html a:link,
body a:link {
  text-decoration: none;
}
html a:hover,
body a:hover {
  text-decoration: none;
}
html a:active,
body a:active {
  text-decoration: none;
}
html .weui-tab .weui-panel_access,
body .weui-tab .weui-panel_access {
  margin-top: 60px;
}
html .weui-tab .weui-tab__bd,
body .weui-tab .weui-tab__bd {
  height: 100%;
  padding-top: 50px;
  overflow-y: scroll;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
html .weui-tab .weui-media-box_appmsg,
body .weui-tab .weui-media-box_appmsg {
  padding: 10px 15px;
}
html .weui-tab .weui-media-box_appmsg .weui-media-box__hd,
body .weui-tab .weui-media-box_appmsg .weui-media-box__hd {
  height: 90px;
  width: 90px;
}
html .weui-tab .weui-media-box_appmsg .weui-media-box__hd .weui-media-box__thumb,
body .weui-tab .weui-media-box_appmsg .weui-media-box__hd .weui-media-box__thumb {
  width: 100%;
  height: 100%;
}
html .weui-tab .weui-tabbar .weui-tabbar__item.weui-bar__item--on .fa,
body .weui-tab .weui-tabbar .weui-tabbar__item.weui-bar__item--on .fa {
  color: #04BE02;
}
