.page-purchases-list .swiper-container {
  height: 200px;
  width: 100%;
}
.page-purchases-list .purchases-list-item .title1 {
  font-size: 16px;
}
.page-purchases-list .purchases-list-item .title2 {
  font-size: 12px;
  color: #999;
}
.page-purchases-list .purchases-list-item .tag {
  font-size: 10px;
  border-radius: 2px;
  padding: 0px 2px;
  margin-right: 5px;
  color: #999;
  border: 0.5px solid #999;
}
.page-purchases-list .purchases-list-item .tag.blue {
  color: #418eff;
  border: 0.5px solid #418eff;
}
.page-purchases-list .purchases-list-item .tag.orange {
  color: #ff7977;
  border: 0.5px solid #ff7977;
}
.page-purchases-list .purchases-list-item .item-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.page-purchases-list .purchases-list-item .item-bottom .price {
  color: #ff6000;
  font-size: 20px;
  margin-right: 5px;
}
.page-purchases-list .purchases-list-item .item-bottom .price .price-unit {
  color: #ff6000;
  font-size: 11px;
}
.page-purchases-list .purchases-list-item .item-bottom .time {
  font-size: 12px;
  color: #999;
}
.page-purchases-list .purchases-list-item .item-bottom .stop,
.page-purchases-list .purchases-list-item .item-bottom .refresh {
  font-size: 12px;
  padding: 5px;
  border: 1px solid #e5e5e5;
  color: #999;
  border-radius: 2px;
}
