<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width" />

  <title>登录</title>
  <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_index.client.style.css" />
  <link rel="stylesheet" href="../c_wechat/css/page_signin.client.style.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">

  <script src="../libs/jquery/dist/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
  <script src="../c_wechat/controllers/page_signin.client.controller.js"></script>
  <meta name="baidu-site-verification" content="4hPH3hudxx" />
</head>

<body>
  <div class="o-page o-page-signin">
    <div class="weui-cells weui-cells_form" style="margin-top:0px;">
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input username" type="tel" placeholder="请输入手机号" value="<%= (user.username||'') %>">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn send_verify_code">获取验证码</button>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">验证码</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input verify_code" type="number" placeholder="请输入验证码">
        </div>
        <div class="weui-cell__ft">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">身份</label>
        </div>
        <div class="weui-cell__bd">
          <input id="identity-name" class="weui-input identity_name" type="text" value="<%= (user.role||'') %>" placeholder="请选择身份信息 ">
        </div>
        <div class="weui-cell__ft ">
        </div>
      </div>
    </div>
    <a href="javascript:; " class="weui-btn weui-btn_primary submit " style="margin:10px; ">登录</a>
  </div>
</body>
<script>
  $(function () {
    $("#identity-name ").picker({
      cols: [
        {
          textAlign: 'center',
          values: ['我来找货', '我来卖货']
        },
        {
          textAlign: 'center',
          values: ['批发商', '代理人', '合作社', '家庭农场', '种植户／种植企业', '农机厂商']
        }
      ]
    });

    var code = '';
    $('.send_verify_code').click(function () {
      var username = $('.username').val();
      if (!username || !/^[1][3,4,5,7,8][0-9]{9}$/.test(username)) {
        return $.toptip('请输入正确的手机号', 'warning');
      }
      $.ajax({
        url: '/api_wechat/send_verify_code',
        data: { username: username },
        method: 'post',
        success: function (data) {
          console.log(data);
          if (!data || data.err) {
            return $.toptip(data.err.message, 'warning');
          }
          $.toast("发送成功 ");
          code = data.verify_code;
        }
      });
    });
    $('.submit').click(function () {
      var username = $('.username').val();
      var verify_code = $('.verify_code').val();
      var identity_name = $('.identity_name').val();

      if (!username) {
        return $.toptip('请输入正确的手机号', 'warning');
      }
      if (!verify_code || code === '' || verify_code.toString() !== code.toString()) {
        return $.toptip('请输入正确的验证码', 'warning');
      }
      if (!identity_name) {
        return $.toptip('请选择身份', 'warning');
      }

      var data = {
        username: username,
        role: identity_name
      };
      signin(data);
    });

    function signin(data) {
      $.showLoading();
      $.ajax({
        url: '/api_wechat/signin',
        method: 'post',
        data: data,
        success: function (data) {
          $.hideLoading();
          console.log(data);
          if (!data || data.err) {
            return $.toptip(data.err.message, 'warning');
          }
          $.toast("登录成功 ");
          window.location = '/'
        }
      });
    }
    var username = $('.username').val();
    var verify_code = $('.verify_code').val();
    var identity_name = $('.identity_name').val();
    if (username && identity_name) {
      signin({
        username: username,
        role: identity_name
      });
    }
  });

</script>

</html>